<<<<<<< HEAD

=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SOBIE</title>
</head>
<body>

</body>
</html>
>>>>>>> 6ce0a87 (back-end finished need to work on views)
